<div class="jumbotron" id="unemployment-rate">
  <h2>Unemployment Rate</h2>
  <p class="unemployment-percentage">--%</p>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name of Student</th>
    <th>Card Number</th>
    <th>Employment Status</th>
    <th><span class="glyphicon glyphicon-trash"></span></th>
  </tr>
  </thead>
  <tbody class="survey">

  </tbody>
</table>

<div class="row">
  <div class="col-md-4">
  <button class="btn btn-primary btn-block" id="add-respondent">Add Respondent</button>
  </div>
</div>
